.inner-container{
        gap:1.5rem;
        background: #4161df;
        padding:2rem;
        border-radius:10px;
        border:6px solid #5d77d6;
        text-align: center;
}

.inner-container .primaryText{
    color: white;
    font-weight: 600;
}
.inner-container .secondaryText{
        color: rgba(255, 255, 255, 0.587);
}
.inner-container .button{
    background-color:#5a73d7;
    border: 2px solid white;
    -webkit-box-shadow: 3px 0px 9px 1px rgba(0,0,0,0.21);
-moz-box-shadow: 3px 0px 9px 1px rgba(0,0,0,0.21);
box-shadow: 3px 0px 9px 1px rgba(0,0,0,0.21);
    border-radius:  10px;
}