.r-container{
    overflow: hidden;
    position: relative;
}
.r-head{
    margin-bottom: 2rem;
    
}

.r-card{
    gap: 0.6rem;
    padding:1rem;
    max-width: max-content;
    margin: auto;
    transition: all 300ms ease-in;
    cursor: pointer;
}
.r-card img{
        width:100%;
        border-radius: 40px;
        max-width: 15rem;
}

.r-card>:nth-child(2){
        font-size: 1.2rem;
        font-weight: 600;
    
}
.r-card>:nth-child(3){
    font-size: 1.5rem;
    font-weight: 600;

}
.r-card>:nth-child(4){
    font-size: 0.7rem;
    width: 15rem;
}


.r-card:hover{
    scale: 1.025;
    background: rgb(208,207,232);
    background: linear-gradient(90deg, rgba(208,207,232,1) 0%, rgba(174,221,224,0.5634628851540616) 10%, rgba(222,230,241,1) 55%, rgba(225,231,232,0.27494747899159666) 100%);
    box-shadow: 0px 62px 49px -51px rgba(136, 160,255,0.12);
}
.swiper-horizontal{
    overflow: visible;
}

.r-buttons{
        position: absolute;
        gap: 1rem;
        top:-4rem;
        right: 0;
}


.r-buttons button{
    font-size:  1.2rem;
    padding: 0.2rem 0.8rem;
    color: blue;
    border:none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;

}
.r-buttons>:nth-child(1){
        background-color:#EEEEFF
}
.r-buttons>:nth-child(2){
    
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}



@media (max-width: 640px ) {
        .r-head {
                align-items: center;
        }
        .r-buttons{
            position:static;
        }
}   

        
