.c-wrapper{
    justify-content: space-around;
    gap: 4rem;
}

.c-container{
        gap: 2rem;
}


@media (max-width: 640px) {
    .c-container{
            justify-content:center!important;
            flex-direction: column!important;
    }
}