.c-container{
        justify-content: space-between;
}

.c-container > div{
        flex: 1;
}


.c-left{
    gap: 0.5rem;
}

.contactModes{
        margin-top: 2rem;
        gap: 1rem;
}
.contactModes .row{
     gap: 1.5rem;
}

.mode{
    width: 16rem;
    padding: 1rem;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    gap: 1rem;
    transition: all 300ms ease-in;
    
}

.mode .button{
    width: 100%;
    background: var(--lightBlue);
    color: var(--blue);
    font-weight: 600;
}


.mode >:nth-child(1){
        width: 100%;
        gap: 1.6rem;
}
.mode  .detail .primaryText{
font-size: 1.1rem!important;
font-weight: 600;
}

.mode:hover{
        scale:1.1;
        box-shadow: -webkit-box-shadow -2px -4px 19px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px -4px 19px 0px rgba(0,0,0,0.75);
        box-shadow: -2px -4px 19px 0px rgba(0,0,0,0.75);;
        cursor: pointer;
}
.mode .button:hover{
        background:blue;
        color: white;
        scale: 0.8;
}
.c-right{
    width: 100%;
}

@media (max-width: 1024px) {
        .c-container{
                flex-direction: column;
        }
        .c-right{
                justify-content: center;
                width: 100%;
                
        }

        .image-container{
                margin: auto;
        }
        .contactModes{
                width: 100%;
                
        }
        .row{
                flex-direction:column;
                width: 100%;
        }
        .mode{
                width: 100%;
        }


}