.v-container .image-container{
    border: 8px solid rgb(232 232 232 / 93%);

}

.v-container > div{
        flex:1;
}

.v-right{
    gap: 0.5rem;
}

.accordion{
        margin-top: 2rem;
        border:none!important;

}
.accordionItem{
    background:white;
    border: 0.8px solid rgba(128,128 128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;;
}


.accordionItem.expanded {
    -webkit-box-shadow: 2px 12px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 12px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 12px 5px 0px rgba(0,0,0,0.75);
    border: 6px;
}
.accordion__button{
        display: flex;
        justify-content: space-between;
        row-gap: 2rem;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
}
.icon{
    padding: 10px;
    background: #eeeeff;
    border-radius:5px;
}
.icon svg{
        fill: var(--blue)
}
.accordion__button .primaryText{
        font-size:1.1rem;
}


@media (max-width: 1024px)   {
.v-container{
        flex-direction: column;
}
    @media (max-width: 768px) {
        .accordion__button .primaryText {
                font-size: 0.8rem;
                align-items: center!important;
            
        }   
    }

}