/* REESET STYLE */
:root {
  --primary: #1f3e72;
  --secondary: rgba(255, 255, 255, 0.78);
  --black: #131110;
  s: linear-gradient(97.05, #4066ff 3.76%, #2949c6 100%);
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  --blue: #4066ff;
  --lightBlue: #eeeeff;
  --shadow: -webkit-box-shadow -2px -4px 19px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -4px 19px 0px rgba(0,0,0,0.75);
  box-shadow: -2px -4px 19px 0px rgba(0,0,0,0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
  /* background: red; */

}

.flexCenter{
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* gap:  10px; */
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}


.primaryText {
  color: #1f3e72;
  font-weight: bold;
  font-size: 2rem;
}

.secondaryText {
  color: rgb(140 139 139);
  font-size: 0.9rem;
}

.orangeText {
  color: orange;
  font-size: 1.5rem;
  font-weight: 600;
}

.button {
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color: white;
  background: var(--blue);
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  

  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px),
(min-width: 768px) {
  .paddings {
    padding: 2rem;

  }

}

@media (max-width: 640px) {
  .prinmaryText {
    font-size: 1.5rem;
  }

  .orangeText {
    font-size: 1.2rem;
  }
}